body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f0f0; /* Couleur de fond */
  color: #333; /* Couleur du texte */
}

h1, h2 {
  color: #007bff; /* Couleur des titres */
}
